{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<form class="box" action="{% url 'index' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Введите ваш csv-файл</h1>

    {% if form.non_field_errors %}
        <p style="color: white">{{ form.non_field_errors }}</p>
    {% endif %}

    <div class="fieldWrapper">
        {% if form.file.errors %}
            <p style="color: white">{{ form.file.errors }}</p>
        {% endif %}

        {{ form.file }}
    </div>
    <input type="submit" name="" placeholder="Login">
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</body>
</html>